{% extends 'base.html' %}

{% block title %}
About Page
{% endblock %}

{% block content %}
    ccbccbccbccbccbccbccbccbccbccbccbccbccbccbccbccb
    ccbccbccbccbccbccbccbccbccbccbccbccbccbccbccbccb
    ccbccbccbccbccbccbccbccbccbccbccbccbccbccbccbccb
    ccbccbccbccbccbccbccbccbccbccbccbccbccbccbccbccb
    ccbccbccbccbccbccbccbccbccbccbccbccbccbccbccbccb
    ccbccbccbccbccbccbccbccbccbccbccbccbccbccbccbccb
    ccbccbccbccbccbccbccbccbccbccbccbccbccbccbccbccb
    ccbccbccbccbccbccbccbccbccbccbccbccbccbccbccbccb
    ccbccbccbccbccbccbccbccbccbccbccbccbccbccbccbccb
{% endblock %}
